<fieldset>

 <table>

  <tbody>
  <tr>
    <td> <%= f.grouped_collection_select :product_id, Category.where(:reference=>"product").order(:name), :products, :name, :id, :name, :prompt => true %></td>
    <td> <%= f.check_box :_destroy %><%= f.label :_destroy, "Remove ingredient" %></td>
  </tr>
  </tbody>
</table>
<br>
  
  </fieldset>