
<div class="masthead">
<div class="container-fluid">
<div class="row">
<div class="col-md-8 col-md-offset-2"> 
<body><center><%= image_tag "HF-Logo-Lndscape.jpg", size: "600x160" %></center></body>

<h2 class="text-center">Frequently Asked Questions</h2>
<br>
<p class="text-center"><strong>Here’s a list of queries we thought you might ask about our Festive Ordering.</strong></p>

 <%= render 'faqs/faqs' %>
<br>
 <p class="text-center"><strong>If none of these have answered your question, drop us an email on <i>hangfirebbq@gmail.com</i> and we’ll get back to you quicker than it takes to smoke a brisket.</strong></p>
<br>
</div>
</div></div>
</div></div>