<h1>Help</h1>


<div class="row">
<div class="col-xs-6 col-md-6  col-md-offset-1">
<h3>First</h3> 
Have a look at the <strong>ingredients</strong> list <a href="/ingredients ">>> click here <<</a>. <br>
This should contain every ingredient that is used in the kitchen.<br>
Use the link at the top of the screen to go there any time.<br>
You can add any missing ingredients using the "+ add new ingredient" link.<br>
All ingredients have a <strong>category</strong>, you can add or change the categories <a href="/categories ">>> here <<</a>.<br>
<h3>Second</h3> 
When ingredients are bought, a <strong>purchase record</strong> can be created to track the price.<br>
Over time these purchase records will give pricing history used for pricing products.<br>
See purchase records for any ingredient by clicking the ingredient name, eg. <a href="/ingredients/6 ">>> Butter - salted <<</a>.<br>
All purchase records track the <strong>vendor</strong>, you can add new vendors <a href="/vendors ">>> here <<</a>.<br>
<h3>Third</h3> 
A <strong>Hangfire Product</strong> is effectively a recipe for your products, eg. <a href="/products ">>> HF Products <<</a>.<br>
You select all the ingredients and say how much of each to use (in grams please!).<br>
The pricing data automatically calculates the price of the product for you.<br>
You can use select 'average', 'latest', 'most' or 'least' prices for each ingredient. <br>
COMING SOON - You can also add a product to another product, <br>
eg. add 'HF Pork Rub' to the ingredient 'Pork shoulder' to make "HF pulled Pork"
<br><br>


</div></div>