
<html>
  <head>
    <title>Hangfire Smokehoue</title>
<body><center><h1>HANGFIRE SMOKEHOUSE</center></h1></body>
<center><h3>SOUTHERN STYLE BARBECUE</h3></center>
<br>
<br>
<center><button type="button" class="btn btn-success"><%= link_to "Christmas Orders", static_pages_xmas_order_path %></button>
</center>

<br>
  <% if logged_in? %>
    <table class= "table">
     
    <tr>
     <td>-</td>
      <td><center><a href="/static_pages/dashboard">Dashboard</a></center></td>
      <td><center><a href="/ingredients ">Ingredients</a></center></td>
      <td><center><a href="/vendors ">Vendors</a></center></td>
      <td>-</td>
    </tr>
    <tr>
    <td>-</td>
      <td><center><a href="/users ">Users</a></center></td>
      <td><center><a href="/products ">HF Products</a></center></td>
      <td><center><a href="/categories ">Categories</a></center></td>
      <td>-</td>
    </tr>
    <tr>
    <td>-</td>
      <td><center><a href="/help ">Help</a></center></td>
      <td><center><a href="/plates ">HF Plates</a></center></td>
      <td><center></center></td>
      <td>-</td>
    </tr>
 </table>
 
<% end %>
</html>