
<html>
  <head>
    <title>Hang Fire Smokehouse</title>
<body><center><%= image_tag "HF-Logo-Lndscape.jpg", size: "800x200" %></center></body>

<br>
 <p><a href="/signin"></span> . </a></p>
</center>

<br>
  <% if logged_in? %>
    <table class= "table">
   
    <tr>
     <td>-</td>
      <td><center><a href="/static_pages/dashboard">Dashboard</a></center></td>
      <td><center><a href="/ingredients ">Ingredients</a></center></td>
      <td><center><a href="/vendors ">Vendors</a></center></td>
      <td>-</td>
    </tr>
    <tr>
    <td>-</td>
      <td><center><a href="/users ">Users</a></center></td>
      <td><center><a href="/products ">HF Products</a></center></td>
      <td><center><a href="/categories ">Categories</a></center></td>
      <td>-</td>
    </tr>
    <tr>
    <td>-</td>
      <td><center><a href="/help ">Help</a></center></td>
      <td><center><a href="/plates ">HF Plates</a></center></td>
      <td><center><a href="/faqs ">FAQs</a></center></td>
      <td>-</td>
    </tr>
 </table>
 
<% end %>
</html>