
<html>
  <head>
    <title>Hangfire Smokehoue</title>
<body><h1>HANGFIRE SMOKEHOUSE</h1></body>
<h3>SOUTHERN STYLE BARBECUE</h3>
<br>

<a href="/static_pages/dashboard">HF dashboard</a>

<h3></h3>
</html>