
<html>
  <head>
    <title>Hangfire Smokehoue</title>
<body><h1>HANGFIRE SMOKEHOUSE</h1></body>
<h3>SOUTHERN STYLE BARBECUE</h3>
<br>

<div class="row">
<div class="col-xs-6 col-md-6  col-md-offset-1">

  <% if logged_in? %>
    <table class= "table">
    <tr>
      <td><a href="/static_pages/dashboard">Dashboard</a></td>
      <td><a href="/ingredients ">Ingredients</a></td>
      <td> <a href="/help ">Help</a></td>
    </tr>
    <tr>
      <td><a href="/users ">Users</a></td>
      <td><a href="/products ">HF Products</a></td>
      <td><a href="/categories ">Categories</a></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="/plates ">HF Plates</a></td>
      <td> <a href="/vendors ">Vendors</a></td>
    </tr>
 </table>
 
<% end %>
</div>
</div>
</html>