<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th><center>Quantity Available</center></th>
      <th><center>Pack Weight</center></th>
      <th class="text-right">Price</th>
      
    </tr>
  </thead>

  <tbody>
 
    <% @saleproducts.each do |saleproduct| %>
      <tr>
        <td><%= saleproduct.name %></td>
        <% if saleproduct.remaining_quanity > 0 %>
        <td align="center"><%= saleproduct.remaining_quanity %></center></td>
        <td align="center"><%= saleproduct.weight %></center></td>
        <td align="right"><%= number_to_currency(saleproduct.price) %></td>
        <% else %>
        <td align="center"><a>SOLD OUT</a></td>
        <td align="center"><a>SOLD OUT</a></td>
        <td align="right"><a>SOLD OUT</a></td>
        
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
