<fieldset>

 <table>

  <tbody>
  <tr>
    <td><%= f.grouped_collection_select :friend_id, Category.where(id: product_categories_to_add).order(:name), :products, :name, :id, :name, :prompt => true, :label => "Existing Product" %></td>
    <td><%= f.hidden_field :product_id %> </td>
    <td style="text-align:center"><%= f.text_field :prodvolume, :placeholder => "Weight (g)", :style => "text-align: center", :label => "Volume", :placeholder => "grams" %></td>
  </tr><tr>  
    <td><i><%= f.check_box :_destroy, :label => "Remove this product" %></i></td> 
  </tr>
  </tbody>
</table>
<br>
  
</fieldset>